body {
  background: rgb(255, 255, 255);
  list-style: none;
    text-decoration: none;
}

html {
  font-family: $font-family-main;
  font-size: $font-size-base;
  list-style: none;
  text-decoration: none;

}
